body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 850;
}

header {
  padding-bottom: 30px;
}

.app {
  background-color: #fff;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
}

.search_button {
  background-color: #885df1;
  color: #fff;
  padding: 20px;
  border: 1px solid #885df1;
  border-radius: 5px;
}

.input_button {
  padding: 17px;
  font-size: 16px;
  background-color: #f9f7fe;
  border-radius: 6px;
  border: 1px solid #f9f7fe;
  width: 75%;
}

.details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 24px;
}

strong {
  color: #f65282;
  font-size: 16px;
}

.current-weather {
  border: 1px solid #f9f7fe;
  padding-bottom: 30px;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
}

.temp {
  font-size: 80px;
  font-weight: bold;
  position: relative;
  top: 30px;
}

.temp-emoji {
  position: relative;
  top: 20px;
  font-size: 40px;
  font-weight: 900;
}

.degree {
  position: relative;
  top: -5px;
  font-size: 30px;
}

footer p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.links {
  color: #885df1;
}